<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Games Played</strong></th>
      <th><strong>Rank</strong></th>
      <th><strong>Profile</strong></th>
    </tr>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </table>
</div>

<%= link_to "New user", new_user_path %>
